body {
  background-color: #232323;
  color: white;
  margin: 0 !important;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1.5rem;
}
#wrapper {
  width: 100vw;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
}
.user-info {
  display: flex;
  flex: 100%;
  background-color: #5d5d5d;
  border-radius: 35px;
  height: 70px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .user-info {
    flex: 48%;
  }
}
@media only screen and (min-width: 1420px) {
  /* For mobile phones: */
  .user-info {
    flex: 32%;
  }
}
header {
  color: white;
  width: 100vw;
  height: 10vh;
  min-height: 90px;
  background-color: #6441a5;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3rem;
  padding-top: 2.5vh;
  vertical-align: top;
}
#ttv_logo > img {
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
footer img {
  border-radius: 0;
}
main {
  width: 80vw;
  min-height: calc(100vh - 10vh - 70px);
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  overflow: hidden;
  padding-top: 10vh;
}

#app_output {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.avatar-image {
  width: 70px;
  height: 70px;
}
#inputs {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#checkbox_json {
  display: inline-block;
  width: 20px;
}
footer {
  background-color: #6441a5;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#informator {
  width: 100vw;
  height: 10vh;
  color: white;
  padding-right: 20vw;
  padding-bottom: 2vh;
  text-align: center;
}
.asd {
  margin-left: 1vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}
img {
  border-radius: 50%;
}
* {
  box-sizing: border-box;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #3f3f3f;
  padding: 10px 50px 50px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #6441a5;
  display: block;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #6441a5;
  background-color: #3f3f3f;
  color: white;
}
input:focus {
  outline: none;
}

#informator img {
  border-radius: 0;
}

/* LABEL ======================================= */
label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6441a5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
